doctype html
title Global Day of Coderetreat 2012 – Ljubljana
meta charset="utf-8"
meta name="viewport" content="width = device-width"
link href="master.css" rel="stylesheet"
body
  header
    h1 Global Day of Coderetreat
    h2 Ljubljana, 8. december 2012
  .signup
    a href="http://gdcr12-lj.eventbrite.com" Registriraj se!
  .sponsor
    a href="http://www.celtra.com"
      img alt="celtra" src="celtra.png"
      span Pokrovitelj dogodka
  .description
    markdown:
      ## Kaj je Global Day of Coderetreat?
        [Global Day of Coderetreat][gdcr] je [svetovni][map] dogodek razvijalcev, ki se želijo izpopolniti v razvijanju programske opreme. Dogodek je lansko leto privabil 1800 razvijalcev iz 94 mest po vsem svetu. Letošnje leto se bo dogodka mogoče udeležiti tudi v Ljubljani.

      ## Kaj je Coderetreat?
      Dogodki [oblike Coderetreat][coderetreat] so se izkazali za zelo učinkovit način izboljševanja programerskih spretnosti. Vadba osnovnih tehnik modularnega in objektno usmerjenega programiranja pripomore k pisanju programske kode, ki je dolgoročno cenejša za vzdrževanje, projektom podaljšuje življenjsko dobo, programerjem pa povzroča manj sivih las.

      Coderetreat je celodnevni dogodek intenzivne vadbe. Zastavljen je tako, da se sodelujoči osredotočijo na iskanje idealnih rešitev problemov, brez da bi se ozirali na časovne in druge omejitve, ki so prisotne, ko delo opravljamo za stranke ali delodajalca.

      Za boljše razumevanje coderetreat filozofije si oglejte uvodni [videoposnetek][video].

      ## Komu je dogodek namenjen?

      Razvijalcem vseh vrst, ki se želijo izpopolniti v veščinah programiranja.

      ## Kdaj in kje?

      V soboto, 8. decembra, v [Hekovniku][hekovnik] na Teslovi 30 v
      Ljubljani ([zemljevid][hekovnik-map]). Dogodek se začne ob 10h in traja
      do poznega popoldneva.

      ## Kaj potrebujem?

      Prenosni računalnik. Glede na to, da bo delo potekalo v parih, lahko pridete tudi brez računalnika, vendar morate to ob prijavi navesti.

      [gdcr]: http://globalday.coderetreat.org
      [map]: https://maps.google.com/maps/ms?msid=211858429594081017615.0004c84674c62aa900e06&msa=0&ie=UTF8&t=h&ll=38.272689,-7.734375&spn=164.696857,90&z=1&source=embed
      [coderetreat]: http://coderetreat.org/about
      [hekovnik]: http://hekovnik.com/location/
      [hekovnik-map]: http://goo.gl/maps/2zS1A
      [video]: http://vimeo.com/18955165

  .signup
    a href="http://gdcr12-lj.eventbrite.com" Registriraj se!

  .sponsor.top-slot
    a href="http://www.celtra.com"
      img alt="celtra" src="celtra.png"
      span Pokrovitelj dogodka

javascript:
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '50a380e8f5a1f546a400005d');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();

